# PostgreSQL Database Configuration
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=whitelabel_db
DATABASE_URL=postgres://user:password@database:5432/whitelabel_db

# Frontend Configuration
# Change this to build a different brand (e.g., 'default' or 'clienteB')
BRAND=clienteA
FRONTEND_PORT=8080

# Backend Configuration
BACKEND_PORT=3000
